{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="#">toco ちゃんバス あと何分？</a>
</nav>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <h4>循環を選択してください</h4>
      <div id="flickity">
        <ul class="js-flickity" data-flickity-options='{ "wrapAround": true, "initialIndex": {{ circuit_flickity_index }} }'>
          {% for id in circuits %}
          <li class="slide circuit" data-circuit_id="{{ circuits[id].id }}" style="background:{{ circuits[id].bgcolor }}">
            <span>{{ circuits[id].name }}循環</span>
          </li>
          {% endfor %}
        </ul>
        <p><button id="select_circuit" type="button" class="btn btn-secondary btn-lg btn-block">この循環を選択する</button></p>
      </div>

      <div id="block-stations">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <h4>停留所を選択してください</h4>

        {% for cid in time_tables %}
        <div class="block-circuit table-responsive" data-circuit_id="{{ cid }}" {% if cid != circuit_id %}style="display:none;"{% endif %}>
          <h4>{{ circuits[cid].name }}循環</h4>
          {% set exclude_hours = time_tables[cid].exclude_hours %}
          <span class="text-danger">※{{ exclude_hours|join(',') }}時台は運行しません</span>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>停留所</th>
                <th>到着時刻</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% set stations = time_tables[cid].stations %}
              {% for sid in stations %}
              <tr>
                <td>{{ stations[sid].name }}</td>
                <td>{{ stations[sid].arrived_at }}</td>
                <td>
                  <a href="/ts?circuit_id={{ cid }}&station_id={{ sid }}">
                    <button type="button" class="btn btn-outline-success set_station_id" data-station_id="{{ sid }}">選択</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>


      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>


<script src="/static/js/async_set_circuit.js"></script>
{% endblock %}
